</br></br></br>
<div class="row">
  <div class="col s12 m5">
    <div class="card blue-text text-darken-2">
      <div class="card-content black-text">

		<h5>Editing Message</h5>
		</br>

		<%= render 'form' %>

		<%= link_to 'Back', messages_path %>
	   </div>
    </div>
  </div>
</div>